* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
}

.loginbody {
  background-image: url("/Assets/Images/library.jpg");
  background-size: 100% 100%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.homebody {
  width: 100%;
  height: 100%;
}

.search {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  margin: auto;
  align-items: center;
}

.search-text {
  padding-left: 25px;
  font-family: "Gabarito", serif;
  font-size: 1.8rem;
  font-weight: 650;
  display: flex;
  transition: all 0.3s linear;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.loading span {
  color: #542a03;
  animation: loading 0.6s linear infinite forwards;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.books-body {
  background-image: url("/Assets/Images/library.jpg");
  width: 100%;
  position: relative;
  margin-top: 2vh;
}

.books-cover {
  position: absolute;
  background-color: #1a0f02c9;
  width: 100%;
  height: 100%;
}

.books-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 95%;
  margin: auto;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-image: url("/Assets/Images/library.jpg"); */
}

.book-tile {
  width: 100%;
  /* margin: auto; */
  padding: 10px 5px;

  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px);
  -webkit-backdrop-filter: blur(1.4px);

  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  justify-content: space-around;
}

.book-image {
  width: 80%;
  aspect-ratio: 1;
  height: fit-content;
  border-radius: 50%;
  /* margin: auto; */
  /* background: url("/Assets/Images/logo2.png"); */
  /* background-size: cover; */
  box-shadow: 0 0 5px black;
  cursor: pointer;
  transition: all 0.3s linear;
  /* position: sticky;
  top: 10px; */
}

.book-image:hover {
  box-shadow: 0 0 15px rgba(58, 57, 57, 0.425);
}

.book-image img {
  width: 100%;
  border-radius: 50%;
  /* height: 100%; */
  aspect-ratio: 1;
}

.book-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 0;
  padding: 0px 5px;
}

.book-name,
.book-author {
  font-family: "Roboto", serif;
  text-align: center;
  color: rgba(26, 25, 25, 0.877);
}

.book-name {
  font-weight: 500;
  display: -webkit-box; /* Required for the line clamping to work */
  -webkit-box-orient: vertical; /* Defines the orientation of the box */
  -webkit-line-clamp: 3; /* Limits the text to 3 lines */
  overflow: hidden; /* Hides text that overflows */
  text-overflow: ellipsis; /* Adds ellipsis (…) to the truncated text */
}

.book-author {
  font-size: small;
}

.searchRow {
  flex-direction: row !important;
  align-items: center;
  width: 60% !important;
  margin: 0 2vw 0 0 !important;
  margin-right: 2vw;
  justify-self: flex-end !important;
}

.search span {
  cursor: pointer;
}

.content {
  top: 120px;
  position: relative;
}
.body-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 244, 244, 0.45);
}

.login {
  width: 60%;
  height: fit-content;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 15px;

  /* From https://css.glass */
  background: rgba(226, 226, 226, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;

  animation: roll 0.5s linear forwards;
}

.nav {
  background: url("/Assets/Images/books.jpg");
  background-size: cover;
  background-position: 0px 40%;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: fixed;
  z-index: 1;
  top: 0;
  /* padding-bottom: 10px; */
}

.nav-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #542a03 0%, #26b68d2f 100%);
}

.nav img {
  width: 90px;
  height: 90px;
  margin-left: 5%;
  padding-bottom: 10px;
  z-index: 2;
}

.nav .ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 85%;
  margin-right: 5%;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.nav .ul div {
  cursor: pointer;
  height: 100%;
  background-color: #03543cce;
  display: flex;
  align-items: flex-end;
  padding: 5px;
  transition: all 0.4s ease-in;
}

.nav .ul .active {
  background-color: var(--dark-color);
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.2s linear;
  cursor: pointer;
  font-family: "gabarito", "serif";
  align-items: center;
  display: flex;
  gap: 10px;
}

.active a {
  color: #faa85f;
}

.ul div:hover {
  background-color: #542e03;
}

@keyframes roll {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.login img {
  width: 40%;
  cursor: pointer;
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  height: 60px;
  background: linear-gradient(102deg, #542a03 0%, #03543c 100%);
  color: white;
  font-family: "Outfit", serif;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: #b9cec7;
}

.no-found {
  color: white;
  padding-left: 10px;
  font-family: "Outfit", serif;
}

@media (min-width: 1600px) {
  .login img {
    width: 25%;
  }

  .books-content {
    grid-template-columns: repeat(6, 1fr);
  }

  .book-content {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .search-text {
    font-size: 2.8rem;
  }
}
@media (max-width: 1600px) {
  .login img {
    width: 28%;
  }

  .books-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .book-image {
    width: 75%;
  }
  /* .book-tile {
    height: 400px;
  } */

  .book-content {
    margin-top: 16px;
    margin-bottom: 11px;
  }

  .book-name {
    font-size: 0.8rem;
  }

  .book-author {
    font-size: 0.6rem;
  }
  .search-text {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .search-text {
    font-size: 2.1rem;
  }
}
@media (max-width: 1024px) {
  .login img {
    width: 30%;
  }

  .book-image {
    width: 75%;
  }

  .books-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .book-content {
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .book-name {
    font-size: 0.7rem;
  }

  .book-author {
    font-size: 0.6rem;
  }

  .search-text {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  .search-text {
    font-size: 1.9rem;
  }
}
@media (max-width: 900px) {
  .login {
    width: 80%;
  }
  .login img {
    width: 50%;
  }

  .book-image {
    width: 85%;
  }

  .book-name {
    font-size: 0.6rem;
  }

  .book-author {
    font-size: 0.5rem;
  }

  .search-text {
    font-size: 1.6rem;
  }
}

@media (max-width: 800px) {
  .search-text {
    font-size: 1.55rem;
  }
}
@media (max-width: 768px) {
  .search-text {
    font-size: 1.35rem;
  }
}
@media (max-width: 700px) {
  .search-text {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .login {
    width: 90%;
  }

  .books-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-name {
    font-size: 0.75rem;
  }

  .book-author {
    font-size: 0.6rem;
  }

  .searchRow {
    width: 85% !important;
  }
}
