.model-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
}

.model-body {
    width: 96%;
    height: 98%;
    /* overflow: auto; */
    margin: auto;
    top: 1%;
    background-color: white;
    position: relative;
    border-radius: 15px;
    padding-bottom: 2vh;
    animation: popup 0.4s linear forwards;

}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
    
}

/* .model-body::-webkit-scrollbar {
   display: none;
} */

.close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--dark-color) 0%, var(--light-color) 100%);
    cursor: pointer;
    color: white;
    font-family: 'gabarito', serif;
    font-weight: 600;
    z-index: 5;
}

.model-title {
    font-family: 'gabarito', serif;
    font-weight: 600;
    color: var(--dark-color);
    padding: 25px;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
}

.model-content {
    /* padding: 25px; */
    overflow: auto;
    height: 85%
    
}